body {
  background-color: aquamarine;
  text-align: center;
}

.col {
  display: inline-block;
  background-color: rgb(255, 255, 0);
  text-align: center;
  width: 80px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  margin-top: 5px;
  padding-top: 25px;
  font-size: x-large;
}

button {
  padding: 15px;
}
